.container {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  padding: 2px;
  border-bottom: 1px solid grey;
}

.innerContainer {
  display: flex;
  gap: 4px;
}

.input {
  width: 600px;
}
